@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br/>
<h3>Eksponent</h3>
<h4>
    Hvem er vi?<br />
    Eksponent er et digitalt bureau stiftet i 2005. Vi er 36 rådgivere, designere og udviklere.
</h4><br />
<h4>Address:</h4>
<address>
    Sankt Knuds Vej 41
1903 Frederiksberg C <br />
    T: +45 70 20 34 21
</address>

<address>
    <strong>Support:</strong>   <a href="mailto: info@eksponent.com">info@eksponent.com</a><br />
    
</address>